<!-- FOOTER  -->
<div id="footer_wrap" class="outer">
  <footer class="inner">
    <div id="subscribe_links">suscríbete
      <a href="#"><i class="fas fa-envelope fa-2x"> email</i></a>
      <a href="/feed"><i class="fas fa-rss fa-2x"> rss</i></a>
    </div>
    <div id="social_links">social
      <a href="#"><i class="fab fa-facebook-square fa-2x"></i></a>
      <a href="#"><i class="fab fa-twitter-square fa-2x"></i></a>
      <a href="#"><i class="fab fa-pinterest-square fa-2x"></i></a>
      <a href="#"><i class="fab fa-medium fa-2x"></i></a>
    </div>
    <div id="footer_content">
      <p>Hecho con cariño por <a href="{{ site.github.owner_url }}">Luc Garcia</a></p>
      <p>Publicado con <a href="https://pages.github.com">GitHub Pages</a> Logo por <a href="https://commons.wikimedia.org/wiki/File:Typing_monkey_768px.png" title="via Wikimedia Commons">KaterBegemot</a></p>
    </div>
  </footer>
</div>
