<!-- NAV -->
<!-- Top Navigation Menu -->
<div id="nav-wrap" class="outer">
  <nav class="inner">
    <div class="topnav">
      <a href="/">
        <i class="fas fa-home fa-2x"></i>
      </a>
      <!-- Navigation links (hidden by default) -->
      <div id="myLinks">
        <a href="/about">About</a>
        <a href="/posts">Posts</a>
        <a href="#">Resources</a>
        <a href="#">Pick my brain</a>
      </div>
      <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars fa-2x"></i>
      </a>
    </div>
  </nav>
</div>
